.Jiaoyi{width:780px; margin-left:20px;}
.Jiaoyi .biao{width:780px; font-size:13px; color:#333; font-weight:normal;height:34px; line-height:34px; background:#e9e9e9; text-indent:5px; border-top:2px solid #36C}

.Jiaoyi .nei{width:778px; border:1px solid #CCC; overflow:hidden;font-size:12px; color:#333}
.Jiaoyi .nei .nei01{width:760px;overflow:hidden; clear:both; margin:0 auto}

.Jiaoyi .nei input{width:150px; border:1px solid #CCC; overflow:hidden}














.autoh{width:780px; margin-top:20px; margin-left:20px}
.tab-title{ color:#444; height:31px; *height:31px;  border-bottom:none;width:780px; float:left; border-bottom:3px solid #36C}
.tab-title a{ color:#333; height:31px; *height:31px;  border-bottom:none;}
.active1{padding:0 12px;color:#333;height:32px;display:block;float:left;line-height:32px;text-align:center;z-index:20;cursor:pointer;font-weight:bold; font-size:12px;  font-family:"微软雅黑"; background:url(images/TT1.jpg); border-right:1px #336699 solid; border-left:1px #336699 solid; border-top:1px #336699 solid}
.active1 a{ color:#333; padding:0 12px}

.active2{color:#333; height:32px;display:block;float:left;line-height:32px;text-align:center;z-index:20;cursor:pointer;font-weight:bold; font-size:12px;  font-family:"微软雅黑";padding:0 12px}
.normal1{height:31px;display:block;float:left;line-height:32px;text-align:center;cursor:pointer; font-size:12px; font-family:"微软雅黑";background:url(images/TT2.jpg);border-right:3px #FFFFFF solid;padding:0 12px}

.blank0 {clear: both; display: block; font-size:1px; visibility:hidden; line-height: 0; height: 0px}
.blank0{clear:both;display:block;font-size:1px;visibility:hidden;height:-1px;line-height:0;}
.TabContent{overflow:; border:0px #d7d7d7 solid; border-top:none;margin-top:10px;}
.TabContent .pro{ width:780px; margin-top:0px; overflow:hidden}
.TabContent .pro .tou{ width:780px; border-bottom:1px solid #CCC; height:40px; line-height:40px; text-align:left}
.TabContent .pro .tou .t1{width:80px; float:left; margin-right:10px}
.TabContent .pro .tou .t2{width:100px; float:left; margin-right:10px}
.TabContent .pro .tou .t3{width:190px; float:left; margin-right:10px}
.TabContent .pro .tou .t4{width:220px; float:left; margin-right:10px}
.TabContent .pro .tou .t5{width:150px; float:right;}


.TabContent .pro .xinxi{ width:780px; border-bottom:1px solid #CCC; overflow:hidden; text-align:left; line-height:20px; color:#666; margin-top:5px; padding-bottom:5px; clear:both}
.TabContent .pro .xinxi a{ color:#369; line-height:20px}
.TabContent .pro .xinxi .t1{width:80px; float:left; margin-right:10px}
.TabContent .pro .xinxi .t1 img{ margin-top:10px}
.TabContent .pro .xinxi .t2{width:100px; float:left; margin-right:10px}
.TabContent .pro .xinxi .t3{width:190px; float:left; margin-right:10px}
.TabContent .pro .xinxi .t4{width:220px; float:left; margin-right:10px}
.TabContent .pro .xinxi .t5{width:150px; float:right;}
.TabContent .pro .xinxi .t5 a{width:78px; height:24px; background: url(../images/pingjia/reply_btn_normal.png) no-repeat; display:block; text-align:center; line-height:24px}

.page01{ width:780px; height:40px;}
.page01 a{ border:1px solid #CCC; font-size:12px; padding:1px 10px; margin:2px; float:left}
.page01 a:hover{border:1px solid #F30; color:#F30; font-size:12px; padding:1px 10px; margin:2px; float:left}


.invite-table3,.invite-table4{border-collapse:collapse;clear:both;margin-top:23px; _margin-top:22px;width:470px;border-left:0px solid #d8d8d8;border-top:0px solid #d8d8d8; margin-left:0px; display:inline-block;}
.invite-table3 td,.invite-table4 td{ padding:0px;border:0px solid #d8d8d8; line-height:18px;}
.invite-table3 th,.invite-table4 th{border:0;background:#f9f9f9;height:30px;line-height:30px;color:#444; width:470px;}
.invite-table4{display:none;margin-top:24px;_margin-top:22px;width:480px;}













