@charset "utf-8";
/* CSS Document */
/*login*/
input {
	border: none;
}

.gray {
	color: #666;
	font-size: 11px;
}

.login {
	float: left;
	width: 545px;
	height: 345px;
	border-top: 45px solid #fdf9a3;
	border-left: 10px solid #fdf9a3;
	border-bottom: 10px solid #fdf9a3;
	border-right: 10px solid #fdf9a3;
	padding: 10px 0 0 10px;
	margin-bottom: 50px;
}

.login h1 {
	font-size: 12px;
	color: #666;
}

.login .ptop {
	width: 518px;
	border-bottom: 1px solid #ececec;
	float: left;
	padding: 15px 0;
}

.login .ptop a {
	display: block;
	width: 86px;
	height: 45px;
	float: left;
}

.login .ptop a img {
	width: 77px;
	height: 45px;
	display: block;
	margin: 0 auto;
}

.login form {
	width: 380px;
	margin: 0 0 0 45px;
}

.login form p {
	margin-top: 20px;
	color: #666;
	font-weight: bold;
}

.login form p input.zh {
	margin-top: 10px;
	width: 308px;
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
	border: 1px solid #ececec;
}

.login form p a {
	font-weight: normal;
	text-decoration: underline;
	display: block;
	margin-top: -15px;
}

.login form p input.checkbox {
	margin-right: 10px;
}

.login form p input.sub_2 {
	background: #fdf9a3;
	width: 130px;
	height: 38px;
	line-height: 38px;
	border: none;
	float: right;
	color: #666;
}

.login_right {
	float: right;
	width: 346px;
	height: 394px;
	margin-top: 15px;
}

/*zhuce*/
.zc_left {
	float: left;
	width: 272px;
	height: 264px;
	margin-top: 65px;
}

.zc_center {
	width: 370px;
	float: left;
	margin-bottom: 80px;
	margin-left: 40px;
	position: relative;
}

.zc_center p {
	width: 330px;
	text-align: left;
	float: left;
	margin: 10px 0;
	color: #666;
}

.zc_box {
	width: 330px;
	border: 3px solid #fff777;
	height: auto;
	float: left;
	overflow: hidden;
}

.zc_box h1 {
	display: block;
	float: left;
	font-size: 11px;
	font-weight: normal;
	width: 368px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #fff777;
}

.zc_box .zc_cent_cont {
	width: 330px;
	height: 575px;
	float: left;
	font-size: 11px;
	font-weight: normal;
}

.zc_box .zc_cent_cont h2 {
	font-size: 11px;
	font-weight: normal;
	margin: 5px 0 0 10px;
}

.side_tit {
	float: left;
	width: 32px;
	height: 611px;
}

.side_tit img {
	margin-bottom: 2.5px;
}

.zc_box .zc_right {
	float: right;
	margin-top: 400px;
}

.zc_box .zc_cent_cont p.ptop_2 {
	float: left;
}

.zc_box .zc_cent_cont p.ptop_3, .zc_cent_cont p.ptop_2 {
	width: 230px;
	height: 38px;
}

.zc_box .zc_cent_cont p.ptop_3 {
	float: right;
	margin-top: -5px;
	margin-right: -20px;
}

.zc_box .zc_cent_cont p.ptop_2 img, .zc_cent_cont p.ptop_3 img {
	width: 62px;
	height: 38px;
}

.zc_box .zc_cent_cont p.ptop_2 img {
	margin-left: 5px;
}

.zc_box .zc_cent_cont p.ptop_3 img {
	margin-right: 5px;
}

.zc_box .zc_cent_cont p span {
	display: block;
	width: 272px;
	margin: -10px auto;
	font-size: 11px;
}

.zc_box .zc_cent_cont ul {
	float: left;
	margin: 10px 0 0 15px;
}

.zc_box .zc_cent_cont ul li {
	padding-bottom: 5px;
}

.zc_box .zc_cent_cont ul li input.zc_input, .zc_cent_cont ul li input.zc_input_2
	{
	height: 20px;
	line-height: 20px;
	border: 1px solid #d0d0d0;
}

.zc_box .zc_cent_cont ul li input.checkbox_2 {
	margin-right: 5px;
}

.zc_box .zc_cent_cont ul li input.zc_input {
	margin-top: 5px;
	width: 206px;
}

.zc_box .zc_cent_cont ul li input.zc_input_2 {
	width: 100px;
	color: #666666;
}

.zc_box .zc_cent_cont ul li span.zc_bd {
	width: 20px;
	line-height: 20px;
	display: inline-block;
	text-align: center;
	border: 1px solid #d0d0d0;
}

.zc_box .zc_cent_cont ul li input.sub_3 {
	background: #73b9cb;
	font-size: 11px;
	border: 1px solid #d0d0d0;
	width: 90px;
	height: 22px;
	line-height: 22px;
	vertical-align: middle;
	margin: 0 0 0 10px;
	margin-top: -5px;
}

.zc_box .zc_cent_cont ul li p {
	border-top: 1px solid #ececec;
	width: 300px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
}

.zc_box .zc_cent_cont ul li a {
	display: inline-block;
	width: 65px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	margin-left: 80px;
}

.zc_box .zc_cent_cont ul li a.green {
	background: #4baa4b;
	margin-right: -70px;
}

.zc_box .zc_cent_cont ul li a.red {
	background: #c3211f;
}

.zc_box_2 {
	border: 3px solid #3ea957;
}

.zc_box_2 h1 {
	color: #fff;
	background: #3ea957;
}

.zc_box_2 .zc_cent_cont ul li {
	padding-bottom: 7px;
}

.zc_box_2 .zc_cent_cont ul li input.zc_input {
	width: 300px;
}

.zc_box_2 .zc_cent_cont ul li em {
	font-style: normal;
	color: #666666;
	margin-left: 5px;
	font-size: 10px;
}

.zc_box_2 .zc_cent_cont ul li input.zc_input_3 {
	width: 180px;
	margin-left: 50px;
}

.zc_box_2 .zc_cent_cont ul li span {
	margin-right: 10px;
	display: inline-block;
	width: 60px;
	text-align: left;
}

.zc_box_2 input.bott {
	width: 160px;
	height: 30px;
	line-height: 20px;
	color: #fff;
	background: #3ea957;
	float: right;
	margin-right: 20px;
}

.zc_box_3 {
	border: 3px solid #c9201b;
	font-family: "微软雅黑";
}

.zc_box_3 h1 {
	color: #fff;
	background: #c9201b;
	font-size: 16px;
	font-weight: bold;
}

.zc_box_3 h3 {
	font-size: 15px;
	width: 140px;
	text-align: center;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
	border-bottom: 2px solid #c9201b;
}

.zc_box_3 h3 img {
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.zc_box_3 .zc_cent_cont ul li span {
	width: 100px;
	text-align: right;
}

.zc_box_3 .zc_cent_cont ul li select {
	width: 120px;
	border: 1px solid #d0d0d0;
}

.zc_box_3 .zc_cent_cont ul li .tel {
	width: 180px;
	border: 1px solid #d0d0d0;
	float: left;
	margin-bottom: 8px;
}

.zc_box_3 .zc_cent_cont ul li span.sp {
	width: 100px;
	float: left;
	text-align: right;
	height: 30px;
	line-height: 30px;
}

.zc_box_3 .zc_cent_cont ul li span.gray_tel {
	display: inline-block;
	width: 50px;
	height: 30px;
	line-height: 30px;
	background: #ededed;
	text-align: center;
}

.zc_box_3 .zc_cent_cont ul li input.zc_input_4 {
	width: 110px;
	border: none;
}

.zc_box_3 .zc_cent_cont ul li span.orange {
	color: #f6831d;
	margin-left: -20px;
}

.zc_box_3 .zc_cent_cont ul li input.checkbox_2 {
	margin-left: 65px;
}

.zc_box_3 .zc_cent_cont ul li.down {
	text-align: center;
	width: 100px;
	height: 18px;
	line-height: 26px;
	background: #c9201b;
	margin: 0 auto;
	color: #fff;
}

.zc_box_3 .zc_cent_cont ul li input.bott {
	width: 100px;
	height: 28px;
	line-height: 28px;
	background: #c9201b;
	margin-left: 100px;
	float: left;
}

/*zazatao_10*/
.left_cont {
	width: 710px;
	height: 400px;
	float: left;
}

.left_cont h1 {
	font-size: 24px;
	color: #666666;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #000;
}

.left_cont h2 {
	color: #CCC;
	font-weight: normal;
	font-size: 14px;
	height: 60px;
	line-height: 60px;
}

.left_cont p {
	color: #666666;
	margin-bottom: 20px;
}

.left_cont a {
	float: left;
	width: 231px;
	height: 190px;
	display: block;
	margin-right: 5px;
}

.right_cont {
	float: right;
	width: 226px;
	height: 381px;
	border: 1px solid #d0d0d0;
}

/*zazatao_10_02*/
.pic_cont {
	float: left;
	width: 1024px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.pic_cont_2 {
	float: left;
	margin-bottom: 20px;
}

.pic_left {
	float: left;
	width: 183px;
}

.pic_left a {
	width: 183px;
	height: 197px;
	display: block;
	position: relative;
	margin-bottom: 20px;
}

.pic_left a p {
	position: absolute;
	left: 0;
	top: 90px;
	text-align: center;
	display: block;
	width: 150px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	z-index: 99;
}

.pic_left a p span {
	display: block;
	width: 120px;
	height: 20px;
	line-height: 20px;
	font-weight: normal;
	font-size: 10px;
	background: #000;
	margin-left: 20px;
	margin-top: 10px;
}

.pic_left a img {
	width: 183px;
	height: 197px;
}

.pic_right {
	width: 822px;
	float: right;
}

.pic_1 {
	width: 400px;
	float: left;
}

.pic_2 {
	width: 242px;
	float: left;
}

.pic_3 {
	float: left;
	width: 180px;
}

.pic_1 span {
	float: left;
}

.pic_1 span a {
	float: left;
}

.pic_left_2 {
	float: left;
	width: 238px;
	height: 400px;
	position: relative;
}

.pic_left_2 p {
	position: absolute;
	top: 161px;
	left: 33px;
	display: block;
	width: 170px;
	height: 130px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	line-height: 2em;
	padding-top: 10px;
	text-align: center;
	background: #b82671;
	opacity: 0.7;
}

.pic_right_2 {
	float: right;
	width: 780px;
}

.pic_right_2 p {
	float: left;
	width: 241px;
	height: 400px;
	display: block;
	margin-left: 15px;
	position: relative;
}

.pic_right_2>div {
	float: left;
	width: 241px;
	height: 400px;
	display: block;
	margin-left: 15px;
	position: relative;
	overflow: hidden;
}

.pic_right_2 div div {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 221px;
	display: inline-block;
	text-align: center;
	padding: 10px;
	background: rgba(255, 255, 255, 0.5) !important; /* IE无效，FF有效 */
	background: #fff;
	filter: alpha(opacity = 50);
}

.pic_right_2 div div span {
	position: relative;
	display: block;
}

.pic_right_2 div div span.red {
	color: #d8292e;
}

.pic_right_2 div div span.red img {
	vertical-align: middle;
	margin-left: 5px;
}

.logo_list span {
	display: block;
	height: 90px;
	line-height: 90px;
}

.logo_list span a {
	display: block;
	width: 115px;
	height: 73px;
	float: left;
	margin-left: 10px;
}

.logo_list span.xian {
	border-bottom: 1px solid #d0d0d0;
}

/*zaza_10_03*/
.roll_left {
	float: left;
	width: 220px;
}

.roll {
	width: 220px;
	height: 250px;
	clear: both;
	position: relative;
	float: left;
	margin-bottom: 20px;
}

.roll span {
	color: #7b3031;
	font-weight: normal;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #333;
}

.roll ul {
	float: left;
	width: 205px;
	height: 190px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.roll ul li {
	padding: 3px 0;
}

.roll .scroll {
	width: 12px;
	position: absolute;
	top: 10px;
	right: 0;
}

.roll a.choice {
	width: 13px;
	height: 13px;
	background: #fff;
	border: 1px solid #d0d0d0;
	float: left;
	margin-right: 10px;
}

.roll_r {
	float: right;
	border-bottom: 1px solid #d0d0d0;
	padding-bottom: 10px;
}

.roll_right_1 {
	float: left;
	width: 390px;
	height: auto;
	border-right: 1px solid #d0d0d0;
	margin-left: 10px;
}

.roll_right_1 span {
	display: block;
	width: 110px;
	height: 30px;
	background: #dcdde1;
	text-align: center;
	margin: 10px 0;
}

.roll_right_1 .c1 {
	width: 360px;
	height: 280px;
	float: left;
}

.roll_right_1 .c1 a {
	display: block;
	width: 186px;
	height: 245px;
	margin: 0 auto;
}

.roll_right_1 .c2 {
	float: left;
	border-bottom: 1px solid #d0d0d0;
	border-top: 2px solid #000;
}

.roll_right_1 .c2 a.bd_r {
	border-right: 1px solid #d0d0d0;
}

.roll_right_1 .c2 a {
	display: block;
	width: 182px;
	float: left;
	padding: 2px;
}

.roll_right_1 .c3 {
	width: 120px;
	float: left;
	border-right: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	margin-top: 10px;
}

.roll_right_1 .c3 a {
	width: 111px;
	margin: 0 auto;
	display: block;
}

.roll_right_1 .c3 a.bd_d, .roll_right_1 .c4 a.bd_d {
	border-bottom: 2px solid #000;
	margin-bottom: 10px;
}

.roll_right_1 .c4 {
	width: 225px;
	height: 250px;
	float: left;
	margin-left: 10px;
}

.roll_right_1 .c4 a {
	width: 225px;
	height: 300px;
	display: block;
	margin: 11px 5px;
}

.roll_right_1 .c5 {
	width: 120px;
	float: left;
	border-right: 1px solid #d0d0d0;
	margin-top: 10px;
}

.roll_right_2 {
	border-right: 0;
	float: left;
}

.side_tit a {
	cursor: pointer;
}
